<mat-card class="note" *ngIf="note.title || note.content">
  <button class="menu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu button to edit existing notes">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialog()">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item (click)="deleteNote(note)">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>

  <mat-card-title class="title" *ngIf="note.title">
    <h2>{{note.title}}</h2>
  </mat-card-title>
  <mat-card-content class="content" *ngIf="note.content">
    <p>{{note.content}}</p>
  </mat-card-content>

</mat-card>

