.container {
  margin: 20px 0;
  text-align: center;
}

h1 {
  margin-bottom: 0;
}


#create-post-it {

  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: 0 auto;
  font-family: Roboto, Arial, sans-serif;
  padding: 0;
}

.create-note-title {
  margin-bottom: -1.25em;
}

mat-card {
  max-width: 250px;
  padding: 16px;
  margin: 0 auto;
  background-color: lightyellow !important;
}

.create-note-textarea {
  resize: none !important;
}

.options {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}
