mat-card {
  max-width: 100%;
  background-color: lightyellow;
  padding-bottom: 10px;
  padding-top: 10px;
}

#edit-post-it {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.edit-note-textarea {
  resize: none !important;
}

.cancel-changes {
  float: left;
}

.disclaimer {
  font-size: 12px;
}

.options {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}
